body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    padding: 0;
    margin: 0;
}
tr {
    padding: 0;
    margin: 0;
}

#progress {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

#progress #percentage {
    background-color: green;
    border-radius: 3.5px;
    height: 100%;
    width: 0%;
}

#header {
    margin: 50px;
}
#minesweeper {
    margin: 50px;
}

#message {
    font-size: 1.3rem;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#timer {
    margin: 0;
    margin-left: 30px;
    font-size: 1.3rem;
    color: red;
    width: 100px;
    padding: 5px;
    font-weight: 700;
}
#timer::before {
    content: "🕒: ";
    color: black;
    font-weight: 400;
}

#mines-remaining {
    margin: 0;
    margin-left: 30px;
    font-size: 1.3rem;
    font-weight: 700;
}
#mines-remaining::before {
    content: "💣: ";
    color: black;
    font-weight: 400;
}

#custom-properties {
    margin-top: 10px;
    display: none;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#custom-properties label {
    font-size: 1.3rem;
    font-weight: 700;
}
#custom-properties input {
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    font-size: 1.2rem;
    margin: 10px 10px;
    width: 50px;
    text-align: center;
}
#custom-properties #custom-num-mines {
    width: 100px;
}
#custom-properties p {
    font-size: .8rem;
    margin: 0;
}
#custom-go {
    height: 45px;
    width: 45px;
}

.btn {
    outline: none;
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    transition: all .2s;
    font-weight: 700;
    font-size: 1.1rem;
}
.btn:hover {
    color: white;
    background-color: #03A9F4;
}
.selected {
    color:white;
    background-color: #03A9F4;
}
.minesweep-btn {
    margin: 0;
    padding: 0;
    outline: none;
    height: 36px;
    width: 36px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #d3d3d3;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

.minesweep-btn.small {
    height: 24px;
    width: 24px;
    font-size: 0.9rem;
    line-height: 24px;
}


.clicked {
    background: none;
}

.num1 {
    color: blue;
}
.num2 {
    color: green;
}
.num3 {
    color: red;
}
.num4 {
    color: darkblue;
}
.num5 {
    color: darkred;
}
.num6 {
    color: cyan;
}
.num7 {
    color: purple;
}
.num8 {
    color: black;
}